.wrapper{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.wrapper button{
    color: white;
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    margin-top: 6.5em;
    margin-bottom: 1em;
}
.accordian{
    width:500px;
    height:auto;
    background-color: rgb(210, 238, 255);
    border-radius:10px;
    box-shadow:4px 6px 4px rgba(0,0,0,0.2);
    padding:20px;
    text-align:center;
}
.item{
    color: white;
    cursor: pointer;
    width:100%;
    height:auto;
    background-color:cornflowerblue;
    border-radius:3px;
    padding:3px;
    margin:10px 0;
}
